<div class="card text-center">
  <div class="card-header">
    <h1>User Random API DrupalRandom</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">{{ email }}</p>
    <p class="card-text">{{ phone }}</p>
    <p class="card-text">{{ gender }}</p>
    {#    <a href="#" class="btn btn-primary">Go somewhere</a>#}
  </div>
  <div class="card-footer text-muted">
    {{ title }}
  </div>
</div>
